.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 205px;
  margin-bottom: 82px;
  padding: 0 50px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-underline-offset: 3px;
}

.footer__menu a:nth-child(1) {
  text-decoration: none;
}


.media__list {
  width: 240px;
}

.media__list-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.media {
  width: 48px;
  height: 48px;
}
