.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 50px 92px 50px;
    margin-top: 92px;
} 

.header_menu {}

.header__links-list {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: circle;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;

    color: #000000;

}

.header__links-list li:first-child {
    list-style: none;
}

.header__logo-image {
    display: inline-block;
    width: 146px;
    height: 107px;
}

.address {
    width: 240px;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;   
}

header .address {
    justify-self: end;
}

.address__list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;

}

