.header {
  display: flex;         
  width: 1100px;          
  height: 293px; 
  padding: 0 50px;
  align-items: center;
}

.header_nav {
  display: flex;
  margin-right: 36px;
}

.nav_list {
  display: flex;
  list-style-type: circle;
  padding: 0;
  margin: 0;
  gap: 35px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

}

.nav_item:first-child {
  list-style-type: none;
}

.header_logo {
width: 148px;
height: 105px;
justify-self: center;
align-items: center;
}

.header_contacts ul {
  list-style: none;
}

.header_contacts {
  margin-left: auto;
  line-height: 24.3px;
  ssfont-style: normal;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
}




/* Cover */

.cover {  
  position: relative;
  background-image: url("/images/cover.jpg"); /* путь к файлу */
  background-size: cover;                 /* растянуть на весь контейнер */
  background-position: center;            /* выровнять по центру */
  background-repeat: no-repeat;           /* не повторять */
  width: 1100px;
  height: 757px;                          /* высота экрана */
  color: white;                           /* цвет текста для контраста */
  display: flex;                          /* для выравнивания текста */
  margin-bottom: 180px;
}

  .cover_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(50%);
}

.step {
  display: flex;
}

.s_1 {
  position: absolute;
  top: 165px;
  left: 50px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.s_2 {
  position: absolute;
  top: 300px;
  left: 380px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.s_3 {
  position: absolute;
  top: 435px;
  left: 663px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.description {
  z-index: 2;
  display: flex;
  margin-top: auto;
  padding: 0 50px 60px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.description p {
  word-spacing: 18px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
 
.description h1 {
  word-spacing: 18px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.description button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  color: aliceblue;
  border: 1px solid white;
}



/*  Lots  */

.lots {
  position: relative;
  width: 1052px;
  height: 723px;
  margin: 0 24px;

}

.h_slot {
  width: 121px;
  height: 47px;
  font-size: 40px;
  line-height: 100%;
  margin-left: 40px;
}

.slots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.slot {
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 334px;
  height: 596px;
}

.slot_1 {
  background-image: url(/images/card-lot-01.jpg);
}

.slot_2 {
  background-image: url(/images/card-lot-02.jpg);
}

.slot_3 {
   background-image: url(/images/card-lot-03.jpg);
}

.slot__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(50%);
}

.slot h1 {
  z-index: 2;
  color: aliceblue;
  font-family: 'Raleway';
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  font-weight: bold;
}

.slot p {
   z-index: 2;
  color: aliceblue;
  font-family: "Raleway";
  line-height: 120%;
  font-weight: 400;
  font-size: 20px;
}

.more {
  position: absolute;
  top: 700px;
  left: 40px;
  font-size: 20px;
  line-height: 100%;
}



/* About */

.about {
  position: relative;
  width: 1050px;
  height: 595px;
  margin: 120px 24px 180px 24px;
}
 
.about_logo {
  position: relative;                 /* нужно для позиционирования ::before */
  width: 240px;                        /* размер контейнера */
  height: 240px;
  background: url('/images/logo-white.svg')    /* путь к твоему лого */
              center/60% no-repeat;    /* центрируем и уменьшаем лого */
  top: 35px;
  left: 47px;
}

.about_logo::before {
  content: "";
  position: absolute;
  inset: 0;                            /* растягиваем по размеру родителя */
  background: black;                   /* чёрный фон */
  border-radius: 50%;                  /* делаем круг */
  z-index: -1;                          /* отправляем за лого */
}

.about_text {
  position: absolute;
  width: 690px;
  height: 449px;
  top: 133px;   /* отступ от правого края */   
  left: 359px;  /* отступ от нижнего края */
}

.title {
  margin-bottom: 100px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}

.text {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
} 

.margin_p {
  margin-bottom: 24px;
}


/* footer */

footer {
  position: relative;
  display: flex;
  width: 1100px;
  height: 180px;
  justify-content: space-between;
  padding: 0 50px;
}

.data_contacts {
  width: 265px;
  height: 98px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;

}

.data_page {
  width: 164px;
  height: 64px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
}

.data_media {
  display: flex;
  width: 240px;
  height: 48px;
  opacity: 1;
  gap: 48px;
}

.media {
  width: 48px;
  height: 48px;
}