header {
  display: flex;         /* включаем flex */
  width: 1100px;           /* ширина во всю страницу */
  height: 293px; 
  justify-content:space-between;
  align-items: center;
}

.nav_header ul {
  display: flex;       /* делаем список горизонтальным */
  list-style: none;    /* убираем маркеры */
  padding: 0;          
  margin: 0;
  gap: 20px;           /* расстояние между элементами */
  width: 149px;        /* фиксированная ширина */
  height: 21px;        /* фиксированная высота */
}

.a_header {
width: 148px;
height: 105px;
top: 92px;
left: 478px;
}


.cover {  
  background-image: url("/images/cover.jpg"); /* путь к файлу */
  background-size: cover;                 /* растянуть на весь контейнер */
  background-position: center;            /* выровнять по центру */
  background-repeat: no-repeat;           /* не повторять */
  width: 1100px;
  height: 757px;                          /* высота экрана */
  color: white;                           /* цвет текста для контраста */
  display: flex;                          /* для выравнивания текста */
  align-items: center;
  justify-content: center;
  }

.step {
  display: flex;
  padding: 0;          
  margin: 0;
  gap: 20px; 
}

