header {
  display: flex;         /* включаем flex */
  width: 1100px;           /* ширина во всю страницу */
  height: 293px; 
  justify-content:space-between;
  align-items: center;
}

.nav_header {
  display: flex;
}

.nav_header ul {
  display: flex;       /* делаем список горизонтальным */
  list-style-type: circle;
  padding: 0;          
  margin: 0;
  gap: 20px;           /* расстояние между элементами */
  width: 149px;        /* фиксированная ширина */
  height: 21px;  
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  white-space: nowrap;
  margin-left: 40px;
}

.li_1 {
  margin-left: 15px;
}

.li_2 {
  margin-left: 15px;
}

.master {
  list-style: none2;
}

.a_header {
position: relative;
width: 148px;
height: 105px;
top: 7px;
left: -15px;
justify-self: center;
align-items: center;
}

.part ul {
  list-style: none;
}

.part li {

}

.part {
font-style: normal;
position: relative;
top: 7px;
left: -100px;
line-height: 24.3px;
}


.cover {  
  position: relative;
  background-image: url("/images/cover.jpg"); /* путь к файлу */
  background-size: cover;                 /* растянуть на весь контейнер */
  background-position: center;            /* выровнять по центру */
  background-repeat: no-repeat;           /* не повторять */
  width: 1100px;
  height: 757px;                          /* высота экрана */
  color: white;                           /* цвет текста для контраста */
  display: flex;                          /* для выравнивания текста */
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  }

.step {
  display: flex;
}

.lots {
  position: relative;

}

.slot_1 {

}

.h_slot {
  position: absolute;
  left: 40px;
  width: 121px;
  height: 47px;
  font-size: 40px;
  line-height: 100%;
}
.s_1 {
position: absolute;
top: 165px;
left: 50px;
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 100px;
line-height: 114.99999999999999%;
letter-spacing: 30%;
text-transform: uppercase;
letter-spacing: 30px;

}

.s_2 {
position: absolute;
top: 300px;
left: 380px;
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 100px;
line-height: 114.99999999999999%;
letter-spacing: 30%;
text-align: center;
text-transform: uppercase;
letter-spacing: 30px;

}

.s_3 {
position: absolute;
top: 435px;
left: 663px;
font-weight: 700;
font-style: Bold;
font-size: 100px;
line-height: 114.99999999999999%;
letter-spacing: 30%;
text-align: right;
text-transform: uppercase;
letter-spacing: 30px;
}

.description p{

display: flex;
position: absolute;
width: 637px;
height: 28px;
top: 668px;
left: 50px;
font-weight: 400;
font-size: 22px;
line-height: 28px;
letter-spacing: 0%;
text-transform: uppercase;
word-spacing: 18px;
}

.description button {
display: flex;
position:absolute;
justify-content: center;
align-items: center;
width: 256px;
height: 51px;
top: 656px;
left: 794px;
background-color: transparent;
color: aliceblue;
 border: 2px solid white
}

.lots {
  border: 5px solid black;
}
.slots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 723px;
  top: 1230px;
  left: 24px;
  angle: 0 deg;
  opacity: 1;

}

.slot_1 {
  background-image: url("/images/card-lot-01.jpg"); /* путь к файлу */
  background-size: cover;                 /* растянуть на весь контейнер */
  background-position: center;            /* выровнять по центру */
  background-repeat: no-repeat;
  width: 334px;
  height: 596px;  
  margin-top: 20px;
}

.slot_2 {
  background-image: url("/images/card-lot-02.jpg"); /* путь к файлу */
  background-size: cover;                 /* растянуть на весь контейнер */
  background-position: center;            /* выровнять по центру */
  background-repeat: no-repeat;  
  width: 334px;
  height: 596px;  
  margin-top: 20px;
}

.slot_3{ 
  background-image: url("/images/card-lot-03.jpg"); /* путь к файлу */
  background-size: cover;                 /* растянуть на весь контейнер */
  background-position: center;            /* выровнять по центру */
  background-repeat: no-repeat;
  width: 334px;
  height: 596px;  
  margin-top: 20px;  
}

.about {
  position: relative;
  width: 1100px;
  height: 595px;
  margin-top: 30px;

}
 
/* Контейнер логотипа */
.about_logo {
    position: relative;                 /* нужно для позиционирования ::before */
    width: 240px;                        /* размер контейнера */
    height: 240px;
    background: url('/images/logo-white.svg')    /* путь к твоему лого */
                center/60% no-repeat;    /* центрируем и уменьшаем лого */
    top: 35px;
    left: 47px;
}

/* Чёрный круг позади лого */
.about_logo::before {
    content: "";
    position: absolute;
    inset: 0;                            /* растягиваем по размеру родителя */
    background: black;                   /* чёрный фон */
    border-radius: 50%;                  /* делаем круг */
    z-index: -1;                          /* отправляем за лого */
}

.about_text {
  position: absolute;
  width: 750px;
  height: 449px;
  top: 133px;   /* отступ от правого края */   
  left: 359px;  /* отступ от нижнего края */
}

.title {
  margin: 0 0 15px 0; /* нижний отступ 15px — это расстояние до текста */
  font-size: 40px;
  margin-bottom: 100px;
}

.text_1 {
  margin: 0 0 15px 0;
  font-size: 22px;

}

.text_2 {
  margin: 0px;
  font-size: 20px;
}

footer {
  position: relative;
  display: flex;
  margin-top: 30px;
  width: 1100px;
  height: 180px;
  justify-content:start;
  margin-top: 50px;
}

.data_contacts {
position: absolute;
width: 264.573486328125px;
height: 98px;
angle: 0 deg;
opacity: 1;
left: 50px;
border-width: 1px;
font-style: normal;

}

.data_page {
  position: absolute;
  width: 164px;
height: 64px;
opacity: 1;
top: 1px;
left: 468.6px;
border-width: 1px;
text-align: center;

}

.data_media {
  position: absolute;
  display: flex;
  width: 240px;
  height: 48px;
  opacity: 1;
  top: 1px;
  left: 810px;
  gap: 48px;


}